sim/xcelium.d
sim/tr_db.log
sim/xrun.history
sim/xrun.log
sim/waveform.vcd
sim/xrun.key
sim/waves.shm
sim/xcelium.shm
sim/.simvision
sim/xmvlog_4978.err
sim/xmvlog_5180.err
sim/xmvlog_5560.err
sim/signals.svwf
sim/simvision.dsn
sim/simvision.trn
sim/*.diag
sim/cov_work/
sim/.bpad/
sim/verilog.dump
